._*
.DS_Store
.idea/
*.iws
*.lnk
*.log
*~
/.cache/
/.gradle/
/bin/
/build/
/node_modules/
/run/
$RECYCLE.BIN/
Thumbs.db

.classpath
.project
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
